---
import { getCollection, getEntry } from "astro:content";
import { capitalize } from "@/lib/utils";
import DhsLayout from "@/modules/dhammasangani/components/DhsLayout.astro";
import { type TikaEntry } from "@/modules/dhammasangani/lib/types";
import reader from "@/modules/dhammasangani/lib/reader";

export async function getStaticPaths() {
  const slugs = await reader.collections.tika.list();
  return slugs.map((slug) => ({
    params: { tika: slug },
  }));
}

const { tika: slug } = Astro.params;
const entry = await getEntry("tika", slug);
const tika = await reader.collections.tika.read(slug);

const { Content = () => null } = (await entry?.render()) ?? {};
---

<DhsLayout title={entry && capitalize(entry.data.title)}>
  <div class="container">
    <div class="text-lg font-bold my-2">{entry?.data.title}</div>
    <p class="font-semibold mt-2">Sentences</p>
    <ul>
      {tika?.sentences.map((sentence) => <li>{sentence}</li>)}
    </ul>
    <p class="font-semibold mt-2">Components</p>
    <ul>
      {
        tika?.components.map((c) => (
          <li>
            {c.discriminant}: {c.value}
          </li>
        ))
      }
    </ul>
    <p class="font-semibold mt-2">Content</p>
    <Content />
  </div>
</DhsLayout>
