---
import { Button } from "@/components/ui/button";
import DhsLayout from "@/modules/dhammasangani/components/DhsLayout.astro";
---

<DhsLayout title="LAB">
  <a href="lab/chess"><Button>Chess</Button></a>
  <a href="lab/group"><Button>Group</Button></a>
</DhsLayout>
