---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
import '@/styles/globals.css'
---

<Layout title="Welcome">
 <div> <Button>Hello world</Button></div>
</Layout>