---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="container">
    <div class="flex flex-col max-w-xs">
      Welcome to the LAB.
      <a href="/pali"
        ><Button variant="link">Go to pali translate tool</Button></a
      >
      <a href="/dhammasangani"
        ><Button variant="link">Go to Dhammasangani</Button></a
      >
    </div>
  </div>
</Layout>
