---
import Layout from "@/layouts/Layout.astro";
import PaliTranslation from "@/components/pali-translation/PaliTranslation";
---

<Layout title="Pali Translation">
  <h2 class="text-xl font-bold">Paḷi Translation</h2>
  <div class="mt-2">
    <PaliTranslation client:load />
  </div>
</Layout>
