---
import Layout from "@/layouts/Layout.astro";
import PaliTranslation from "@/modules/pali-translation/components/PaliTranslation";
---

<Layout title="Pali Translation">
  <div class="container">
    <h2 class="text-xl font-bold my-3">Paḷi Translation</h2>
    <div class="mt-2">
      <PaliTranslation client:only />
    </div>
  </div>
</Layout>
