---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "@/modules/pali-translation/components/Sidebar.astro";
import PaliTranslation from "@/modules/pali-translation/components/PaliTranslation";
import PaliEditor from "@/modules/pali-translation/components/PaliEditor";
import PaliDictionary from "@/modules/pali-translation/components/PaliDictionary";
import PaliDict from "@/modules/pali-translation/components/PaliDict.astro";
---

<Layout title="P캐拷을 Translation Tool" brand="P캐拷을 Translation Tool">
  <Sidebar />
  <section class="pl-64 pr-80">
    <PaliEditor className="h-[calc(100vh-3.5rem)]" client:load />
    <PaliDictionary
      className="h-[calc(100vh-3.5rem)] fixed top-14 right-0 w-80"
      client:only="react"
    />
  </section>
</Layout>
