---
import { ModeToggle } from "@/components/ModeToggle";
import { ComboboxDemo } from "@/components/ComboboxDemo";
const features = {
  moduleSelection: false,
};
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<header
  class="h-full w-full bg-gray-600 bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10"
>
  <div class="container py-2 flex align-middle justify-between">
    <div class="flex items-center">
      <div class="font-sans font-extrabold text-xl align-baseline">
        Paṭisambhida LAB
      </div>
      {features.moduleSelection && <ComboboxDemo client:load />}
    </div>
    <ModeToggle client:load />
  </div>
</header>
