---
import Sidebar from "@/modules/pali-translation/components/Sidebar.astro";
import Layout from "./Layout.astro";
---

<Layout title="P캐拷을 Translation Tool" brand="P캐拷을 Translation Tool">
  <Sidebar />
  <section class="pl-64 pr-80">
    <slot />
  </section>
</Layout>
