---

---

<div class="border border-slate-800 w-full rounded-md flex-grow">
  <div class="px-4 py-2 font-bold bg-slate-900 rounded-t-md">
    Digital Pāḷi Dictionary
  </div>
  <div
    id="dpd-result"
    class="px-4 py-2 flex flex-col justify-stretch max-h-[calc(70vh-40px)] overflow-y-auto"
  >
  </div>
</div>
